* {
  box-sizing: border-box;
}

:root {
  --orange: #D04747;
  --dark-blue: #1A3251;
  --white: #FFFFFF;
}

html {
  font-size: 16px; /* Base font size for rem calculations */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Darker Grotesque', serif;
  font-weight: 600;
  font-size: 1rem; /* 16px */
  line-height: 1.5;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
